server:
  port: 5690
  servlet:
    context-path: /

spring:
  application:
    name: dataround-gateway

  cloud:
    gateway:
      predicate:
        host:
          include-port: false #ignore http host's port
      routes:
        - id: admin_route
          uri: http://127.0.0.1:5678
          predicates:
            - Host=admin.dataround.io
            - Path=/mgmt/**
        - id: dolphin_route
          uri: http://dev.dataround.io
          predicates:
            - Host=admin.dataround.io
            - Path=/dolphinscheduler/**

        - id: ozone-om_route
          uri: http://ozone-om.dataround.io
          predicates:
            - Host=ozone-om.dataround.io
        - id: ozone-scm_route
          uri: http://ozone-scm.dataround.io
          predicates:
            - Host=ozone-scm.dataround.io
        - id: ozone-s3g_route
          uri: http://ozone-s3g.dataround.io
          predicates:
            - Host=ozone-s3g.dataround.io

        - id: grafana_route
          uri: http://grafana.dataround.io
          predicates:
            - Host=grafana.dataround.io
        - id: prometheus_route
          uri: http://prometheus.dataround.io
          predicates:
            - Host=prometheus.dataround.io
        - id: spark_route
          uri: http://spark.dataround.io
          predicates:
            - Host=spark.dataround.io
        - id: opensearch_route
          uri: http://opensearch.dataround.io
          predicates:
            - Host=opensearch.dataround.io
        - id: hdfs_route
          uri: http://hdfs.dataround.io
          predicates:
            - Host=hdfs.dataround.io
        - id: kafka_route
          uri: http://kafka-cmak.dataround.io
          predicates:
            - Host=kafka-cmak.dataround.io
        - id: longhorn_route
          uri: http://longhorn.dataround.io
          predicates:
            - Host=longhorn.dataround.io


dataround:
  admin:
    domain: admin.dataround.io # browser input what domain name, admin_route also use dynamic domain name
    loginPath: /admin/login
    escapeUris: /admin/login, /admin/api/login, /admin/api/logout, /admin/api/captcha

# Logger Config
logging:
  level:
    io.dataround: debug