server:
  port: 5690
  servlet:
    context-path: /

spring:
  application:
    name: dataround-gateway

  cloud:
    gateway:
      predicate:
        host:
          include-port: false #ignore http host's port
      routes:    
        # The gateway is matched in sequence.
        - id: grafana_route
          uri: http://grafana.dataround.io
          predicates:
            - Host=grafana.dataround.io
        - id: prometheus_route
          uri: http://prometheus.dataround.io
          predicates:
            - Host=prometheus.dataround.io
        - id: spark_route
          uri: http://spark.dataround.io
          predicates:
            - Host=spark.dataround.io
        - id: opensearch_route
          uri: http://opensearch.dataround.io
          predicates:
            - Host=opensearch.dataround.io
        - id: hdfs_route
          uri: http://hdfs.dataround.io
          predicates:
            - Host=hdfs.dataround.io
        - id: kafka_route
          uri: http://kafka-cmak.dataround.io
          predicates:
            - Host=kafka-cmak.dataround.io
        - id: longhorn_route
          uri: http://longhorn.dataround.io
          predicates:
            - Host=longhorn.dataround.io

        - id: admin_route
          uri: http://127.0.0.1:5680
          predicates:
            - Path=/dataadmin/**
        - id: link_route
          uri: http://127.0.0.1:5600
          predicates:
            - Path=/datalink/**
        # Default route - fallback when no Host matches
        - id: default_route
          uri: http://127.0.0.1:5680
          predicates:
            - Path=/**


dataround:
  admin:
    loginPath: /dataadmin/login
    escapeUris: /dataadmin/login, /dataadmin/api/login, /dataadmin/api/logout, /dataadmin/api/captcha

# Logger Config
logging:
  level:
    io.dataround: debug